In [1]:
import azureml.core
from azureml.core import Workspace

ws = Workspace.from_config()
print("Ready to use AzureML {} wo work with {} ".format(azureml.core.VERSION, ws.name))

Ready to use AzureML 1.51.0 wo work with testazureml

In [7]:
from azureml.core import Experiment
import pandas as pd 

experiment = Experiment(workspace=ws, name="pearson_titanic")
run = experiment.start_logging()

print("Starting experiment:" , experiment.name)

Starting experiment: pearson_titanic

In [8]:
data = pd.read_csv("titanic.csv")
print(data.shape)
data.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
row_count = len(data)
run.log("row_count", row_count)

In [10]:
run.complete() 
print("Metrics:")
metrics = run.get_metrics()
for metric_name in metrics:
    print(metric_name, ":", metrics[metric_name])

Metrics:
row_count : 891